<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example client</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="captcha.js" defer></script>
    <script src="scripts.js" defer></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <form>
            <ul>
                <li>
                    <label for="name">Name:</label>
                    <input type="text" id="name" v-model="user_name">
                </li>
                <li>
                    <label for="msg">Message:</label>
                    <textarea id="msg" v-model="user_message"></textarea>
                </li>
                <li id="captcha_element" class="captcha-verification" data-sitekey="siteKey3">

                </li>
                <li class="button">
                    <button type="button" v-on:click="addComment">Create comment</button>
                </li>
            </ul>
        </form>
        Comments:
        <ol>
            <li v-for="comment in comments">
                User: {{ comment.name }}
                <p>{{ comment.message }}</p>
            </li>
        </ol>
    </div>
</body>
</html>
