<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example Application</title>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="captcha/captcha.js" defer></script>
    <script src="app.js" defer></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="captcha/style.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="page-headline">Conversations</div>
    <div class="content" id="app">
        <div class="message-section">
            <div class="message-section-headline">Messages</div>
            <div class="messages">
                <div v-for="comment in comments" class="message">
                    <div class="message-name">{{ comment.name }}</div>
                    <p class="message-text">{{ comment.message }}</p>
                </div>
            </div>
        </div>

        <div class="add-message-section">
            <div class="add-message-headline">Add message</div>
            <form>
                <div class="add-comment-form">
                    <label for="name">Name</label>
                    <input type="text" id="name" v-model="user_name">

                    <label for="msg">Message</label>
                    <textarea id="msg" v-model="user_message"></textarea>
                </div>
                <div id="captcha_element" class="captcha-verification" data-sitekey="siteKey4">
                </div>
                <div class="button">
                    <button class="add-comment-button" type="button" v-on:click="addComment">Add message</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
